@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffcdb2;
    color: #8c636b;
    margin: 2rem 2rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.backbutton {
    align-self: flex-start;

    text-decoration: none;
    background: rgba(140, 99, 107, 0.1);
    color: #8c636b;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid #8c636b;
    font-weight: 700;
}

.backbutton:hover {
    background: #8c636b;
    color: #ffcdb2;
}